
.container{

    border-radius: 3rem;
    align-items: center;
    justify-content:center ; 
    flex-wrap: wrap;
    margin: 1rem;
    white-space:nowrap;
}
.container img{
    
    width: 25rem;
    width: 20rem;
    border-radius: 3rem;
    flex:1 0;
    object-fit: cover;
    white-space:nowrap;
} 
.disponible img{
    width: 20px;
    height: 20px;
    white-space:nowrap;
    margin: 1erm;
}
.details{
    width:100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 1rem;
    color: black;
    margin-left: 1rem;
}

.details .header{
   display: flex;
justify-content:space-between ; 
}
.details .name{
    font-size:2rem ;
    font-weight: bold;
}
 .details .favorite{
    background-color: #e72929;
    font-size: 10px;
}
.details .favorite.not{
    color: gray;

}
.container.details.origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0; 
    background-color: rgb(158, 144, 144);
}
.container.details.origins.span{
    padding: .5rem;
    font-size: 1.2rem;
    margin:.5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: rgb(158, 144, 144);
}
.container.tag{
padding: .5rem;
margin: .5rem;
}
.details.price{
    color: green;

}
.details.price::before{
    content:"price:";
    color: gray;
}
.container.button{
    background-color: #e72929;
}