ul{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
}
ul li a{
    justify-self: center;
    height: 25rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    color: gray    ;
 
        flex:1;
      
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.favorite{
    position:relative;
    top: .0.5em;
    right: 5erm;
    font-size: 1.2erm}
     .favorite.not{
        color: black;

     }
     .star{
        margin-bottom:.2rem ;
     }
     .product-item-footer{
        display: flex;
        justify-content:space-between;
        align-items: center;
     }
     .origins{
      flex: 9;
     }
     .origins span{
       border-radius: 5rem; 
       background-color: aliceblue;
       color: gray;
       font-size: .8erm;
       margin-left: .3erm;
       display: inline-block;
       
     }
     .disponible{
        font-size: 3rem;
        flex:1;
        text-align: right;
     }
     .product-item-footer.price{ 
        color:green;
        margin-top: .2rem;

        

     }